@(account: Account)(title: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.pjax.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/foundation.min.js")" type="text/javascript"></script>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="@controllers.routes.Main.home">Achievement Record</a></li>
          @if(account != null) {
            <li><a href="@controllers.routes.Show.profile(account.username.value)">Profile</a></li>
            <li><a href="@controllers.routes.Application.logout">logout</a></li>
          } else {
            <li><a href="@controllers.routes.Application.login">login</a></li>
          }
        </ul>
      </div>
    </div>
    @content
  </body>
</html>
