@(title: String, ach: Option[Achievement], s_accs: Option[Seq[Student]], t_accs: Option[Seq[Teacher]], orgs: Option[Seq[Organization]], canEdit: Boolean, photo: List[String])(implicit template: String => Html => Html)
@template(title) {
  <div class="jumbotron">
    <div class="row columns">
      <div class="large-12 columns">
        <h1 class="kanit">@ach.get.achievement_name</h1>
        @*<p class="kanit">ผู้บันทึก นายกฤษติพงษ์ นามสมมุติ</p>*@
      </div>
    </div>
  </div>
  <div id="content" class="row columns">

    <div class="box" style="position: relative;">
      @if(canEdit) {
        <div class="button-group" style="position: absolute; top: 0; right: 0">
          <a href="@controllers.routes.Edit.del(ach.get.id)" class="alert button"><i class="fi-trash"></i> ลบ</a>
          <a href="@controllers.routes.Edit.edit(ach.get.id)" class="success button"><i class="fi-pencil"></i> แก้ไข</a>
        </div>
      }
      <div class="row">
        <div class="large-10 columns">
          <h4 class="box-title">@ach.get.achievement_name</h4>
        </div>
      </div>
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          @if(photo.isEmpty) {
            <li class="is-active orbit-slide">
              <img src="http://placehold.it/1000x450" alt="">
            </li>
          } else {
            @for(p <- photo) {
              <li class="is-active orbit-slide">
                <img class="orbit-image" src="/public/uploads/@p" alt="">
              </li>
            }
          }
        </ul>
      </div>
      <div class="show-info">
        <div class="row large-up-2 medium-up-1 small-up-1 info">
          @if(ach.get.achievement_type == 1) {
            <div class="column">
              <div class="field">
                <span class="title">ชื่อการแข่งขัน</span>
              </div>
              <div class="field aaa">
                <span class="value">@ach.get.comp.get.event_name</span>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <span class="title">หมวดการแข่งขัน</span>
              </div>
              <div class="field aaa">
                <span class="value">@ach.get.comp.get.topic</span>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <span class="title">ระดับ</span>
              </div>
              <div class="field aaa">
                <span class="value">@ach.get.comp.get.level</span>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <span class="title">อันดับ</span>
              </div>
              <div class="field aaa">
                <span class="value">@ach.get.comp.get.rank</span>
              </div>
            </div>
          }
          @if(ach.get.achievement_type == 2) {
            <div class="column">
              <div class="field">
                <span class="title">วันหมดอายุ</span>
              </div>
              <div class="field aaa">
                <span class="value">@ach.get.cert.get.exp_date</span>
              </div>
            </div>
          }
          @if(ach.get.achievement_type == 3) {
            <div class="column">
              <div class="field">
                <span class="title">ประจำปี</span>
              </div>
              <div class="field aaa">
                <span class="value">@ach.get.amb.get.year</span>
              </div>
            </div>
          }
          <div class="column">
            <div class="field">
              <span class="title">รางวัล</span>
            </div>
            <div class="field aaa">
              <span class="value">@ach.get.reward</span>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <span class="title">ประเภท</span>
            </div>
            <div class="field aaa">
              <span class="value">@ach.get.category</span>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <span class="title">วันที่ได้รับ</span>
            </div>
            <div class="field aaa">
              <span class="value">@ach.get.date</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row large-up-2 medium-up-1 small-up-1 info">
          <div class="column">
            <div class="field">
              <span class="title">สมาชิก</span>
            </div>
            <div class="field aaa">
              @for(acc <- s_accs.get) {
                <a href="/profile/@acc.username"><span class="value">@acc.th_name </span></a> <br>
              }
            </div>
          </div>
          <div class="column">
            <div class="field">
              <span class="title">อาจารย์ที่ปรึกษา</span>
            </div>
            <div class="field aaa">
              @for(acc <- t_accs.get) {
                <a href="/profile/@acc.username"><span class="value">@acc.th_prename @acc.th_name</span></a> <br>
              }
            </div>
          </div>
          <div class="column">
            <div class="field">
              <span class="title">หน่วยงานที่จัด</span>
            </div>
            <div class="field aaa">
              @for(o <- orgs.get) {
                <span class="value">@o.organization_name</span> <br>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
