@(title: String)(implicit template: String => Html => Html)
@template(title) {
  <div class="row header">
    <div class="columns callout">
      <a href="@controllers.routes.Add.competition">
        <p class="text-center" style="margin-bottom: 0px;">Competition</p>
      </a>
    </div>
    <div class="columns callout">
      <a href="@controllers.routes.Add.amb">
        <p class="text-center" style="margin-bottom: 0px;">Ambassador</p>
      </a>
    </div>
    <div class="columns callout">
      <a href="@controllers.routes.Add.cert">
        <p class="text-center" style="margin-bottom: 0px;">Certificate</p>
      </a>
    </div>
  </div>
}
