@(title: String, ach: Option[Achievement], account: Account)(implicit template: String => Html => Html)
@template(title) {
  <div class="jumbotron">
    <div class="row columns">
      <div class="large-12 columns">
        <h1 class="kanit">เพิ่มรายการใหม่</h1>
        <p class="kanit">ตัวแทนองค์กร</p>
      </div>
    </div>
  </div>
  <div id="content" class="row columns">
    @if(ach.isDefined) {
      <form action="/edit/ambassador/@ach.get.id" method="post" enctype="multipart/form-data" data-abide novalidate>
    } else {
      <form action="/add/ambassador" method="post" enctype="multipart/form-data" data-abide novalidate>
    }
      <div class="alert callout" data-abide-error style="display: none;">
        <p><i class="fi_alert"></i> There are some errors in your form.</p>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label>รหัสนักศึกษา
            <input type="text" id="CurrentStudentId" placeholder="CurrentStudentId" class="student_ids" name="student_ids" disabled="disabled" />
          </label>
        </div>
        <div class="small-9 columns">
          <label>ชื่อ-สกุลนักศึกษา
            <input type="text" id="CurrentStudentName" placeholder="CurrentStudentName" class="student_names" name="student_names" disabled="disabled">
          </label>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="small-12 columns">
          <label>ชื่อผลงาน <i class="alert fi-asterisk"></i>
            <input type="text" name="achievement_name" required value="@ach.map(_.achievement_name).getOrElse("")">
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
      </div>
    <div class="row">
      <div class="div small-12 columns">
        <label>orgs
          <select name="orgs" id="orgs" class="s2"></select>
        </label>
      </div>
    </div>
      <div class="row">
        <div class="small-12 columns">
          <label>ประจำปี <i class="alert fi-asterisk"></i>
            <input type="text" name="year" required value="@ach.map(_.amb.get.year).getOrElse("")">
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label>วันที่ได้รับ <i class="alert fi-asterisk"></i>
            <input type="date" name="date" required value="@ach.map(_.date).getOrElse("")">
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
      </div>
      @if(ach.isEmpty) {
        <div class="row">
          <div class="small-12 columns">
            <label for="exampleFileUpload" class="button">Upload File</label>
            <input type="file" id="exampleFileUpload" class="show-for-sr" name="file" accept="image/jpeg, image/png">
          </div>
        </div>
      }
      <hr>

      <div class="row">
        <div class="small-12 columns small-centered">
          <button id="submit" type="submit" class="expanded button"><i class="fa fa-floppy-o"></i>บันทึกข้อมูล</button>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    $.getJSON("/jsonProfile", function (data) {
      $("#CurrentStudentId").attr("placeholder", data["username"]);
      $("#CurrentStudentName").attr("placeholder", data["th_name"]);
    });

    function isInArray(value, array) {
      return array.indexOf(value) > -1;
    }

    @if(ach.isDefined) {
      var orgs = [];
      @for(o <- ach.get.orgs) {
      orgs.push("@o.id");
      }

      $.ajax({
        url: '/jsonAll/3',
        dataType: 'json',
        async: false,
        success: function (data) {
          $("#orgs").empty();
          $.each(data, function(i, val) {
            if (isInArray(val.value.toString(), orgs)) {
              $("#orgs").append($("<option selected='selected'>").text(val.text).attr("value", val.value));
            } else {
              $("#orgs").append($("<option>").text(val.text).attr("value", val.value));
            }
          });
        }
      });
    } else {
      $.ajax({
        url: '/jsonAll/3',
        dataType: 'json',
        async: false,
        success: function (data) {
          $("#orgs").empty();
          $.each(data, function(i, val) {
            $("#orgs").append($("<option>").text(val.text).attr("value", val.value));
          });
        }
      });
    }

    var select2_option = {
      allowClear: true,
      theme: "foundation",
      width: '100%',
      tags: true
    };

    $('.s2').select2(select2_option);
  </script>
}
