@(title: String, ach: Option[Achievement], account: Account)(implicit template: String => Html => Html)
@template(title) {
  <div class="jumbotron">
    <div class="row columns">
      <div class="large-12 columns">
        <h1 class="kanit">เพิ่มรายการใหม่</h1>
        <p class="kanit">การแข่งขัน</p>
      </div>
    </div>
  </div>
  <div id="content" class="row columns">
    @if(ach.isDefined) {
      <form action="/edit/competition/@ach.get.id" method="post" enctype="multipart/form-data" data-abide novalidate>
    } else {
      <form action="/add/competition" method="post" enctype="multipart/form-data" data-abide novalidate>
    }
      <div class="alert callout" data-abide-error style="display: none;">
        <p><i class="fi_alert"></i> There are some errors in your form.</p>
      </div>
      @if(account.role_id == 3) {
        <div class="row">
          <div class="small-3 columns">
            <label>รหัสนักศึกษา
              <input type="text" id="CurrentStudentId" placeholder="CurrentStudentId" class="student_ids" name="student_ids" disabled="disabled" />
            </label>
          </div>
          <div class="small-9 columns">
            <label>ชื่อ-สกุลนักศึกษา
              <input type="text" id="CurrentStudentName" placeholder="CurrentStudentName" class="student_names" name="student_names" disabled="disabled">
            </label>
          </div>
        </div>
      }
      @if(ach.isDefined) {
        @for(stu <- ach.get.accs) {
          @if(stu.username != account.username.value) {
            <div class="row">
              <div class="small-3 columns">
                <input type="text" placeholder="รหัสเพื่อนร่วมทีม" class="student_ids" name="student_ids" pattern="number" value="@stu.username" @if(account.role_id == 2) {disabled="disabled"}>
                <span class="form-error">
                  ตัวเลข
                </span>
              </div>
              <div class="small-8 columns">
                <input type="text"  class="student_names" name="student_names" disabled="disabled" value="@stu.th_name">
              </div>
              <div class="small-1 columns">
                <button type="button" class="alert small button removeStudent"><i class="fi-minus"></i></button>
              </div>
            </div>
          }
        }
      }
      @if(account.role_id == 3) {
        <div class="row">
          <div class="small-3 columns">
            <input type="text" placeholder="" class="student_ids" name="student_ids" pattern="number">
            <span class="form-error">
              ตัวเลข
            </span>
          </div>
          <div class="small-8 columns">
            <input type="text" placeholder="" class="student_names" name="student_names" disabled="disabled">
          </div>
          <div class="small-1 columns">
            <button type="button" class="small button addStudent"><i class="fi-plus"></i></button>
          </div>
        </div>
      }
      <hr>
      <div class="row">
        <div class="div small-12 columns">
          <label>อาจารย์ที่ปรึกษา <i class="alert fi-asterisk"></i>
            <select name="teacher_names" id="teachers" class="s2" multiple="multiple" required></select>
          </label>
          <span class="form-error">
            กรอกด้วย
          </span>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="small-8 columns">
          <label>ชื่อการแข่งขัน <i class="alert fi-asterisk"></i>
            <input name="event_name" type="text" placeholder="Event Name" required value="@ach.map(_.comp.get.event_name).getOrElse("")">
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
        <div class="small-4 columns">
          <label>หมวดการแข่งขัน
            <input name="topic" type="text" placeholder="Event Topic" data-abide-ignore value="@ach.map(_.comp.get.topic).getOrElse("")">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label>ระดับ <i class="alert fi-asterisk"></i>
            <select name="level" required>
              <option value=""></option>
              <option value="ระดับมหาวิทยาลัย">ระดับมหาวิทยาลัย</option>
              <option value="ระดับคณะ">ระดับคณะ</option>
              <option value="ระดับประเทศ">ระดับประเทศ</option>
              <option value="ระดับนานาชาติ">ระดับนานาชาติ</option>
              <option value="ระดับจักรวาล">ระดับจักรวาล</option>
            </select>
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
        <div class="small-6 columns">
          <label>ประเภท <i class="alert fi-asterisk"></i>
            <select name="category" required>
              <option value=""></option>
              <option value="วิชาการ">วิชาการ</option>
              <option value="คุณธรรม">คุณธรรม</option>
            </select>
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="div small-12 columns">
          <label>หน่วยงานที่จัด <i class="alert fi-asterisk"></i>
            <select name="orgs" id="orgs" class="s2" multiple="multiple" required></select>
          </label>
          <span class="form-error">
            กรอกด้วย
          </span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="small-12 columns">
          <label>ชื่อผลงาน <i class="alert fi-asterisk"></i>
            <input type="text" name="achievement_name" required value="@ach.map(_.achievement_name).getOrElse("")">
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <label>อันดับ <i class="alert fi-asterisk"></i>
            <select name="rank" id="rank" required>
              <option value=""></option>
              <option value="รางวัลชนะเลิศ">รางวัลชนะเลิศ</option>
              <option value="รางวัลรองชนะเลิศอันดับที่ 1">รางวัลรองชนะเลิศอันดับที่ 1</option>
              <option value="รางวัลรองชนะเลิศอันดับที่ 2">รางวัลรองชนะเลิศอันดับที่ 2</option>
              <option value="รางวัลชมเชย">รางวัลชมเชย</option>
              <option value="เข้าร่วมการแข่งขัน">เข้าร่วมการแข่งขัน</option>
              <option value="0">อื่นๆ</option>
            </select>
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
        <div class="small-8 columns">
          <label>&nbsp;
            <input type="text" placeholder="Rank Description" id="rank_des" name="rank_des" disabled="disabled">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <label>รางวัล
            <textarea name="reward" cols="30" rows="3" placeholder="เช่น ทุนการศึกษา" data-abide-ignore>@ach.map(_.reward).getOrElse("")</textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label>วันที่ได้รับ <i class="alert fi-asterisk"></i>
            <input type="date" name="date" required value="@ach.map(_.date).getOrElse("")">
            <span class="form-error">
              กรอกด้วย
            </span>
          </label>
        </div>
      </div>
      @if(ach.isEmpty) {
        <div class="row">
          <div class="small-12 columns">
            <label for="exampleFileUpload" class="button">Upload File</label>
            <input type="file" id="exampleFileUpload" class="show-for-sr" name="file[]" accept="image/jpeg, image/png" multiple="multiple">
          </div>
        </div>
      }
      <hr>

      <div class="row">
        <div class="small-12 columns small-centered">
          <button id="submit" type="submit" class="expanded button"><i class="fa fa-floppy-o"></i>บันทึกข้อมูล</button>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    $("#content").on("click", ".addStudent", function(e) {
      e.stopPropagation();
      $(this).removeClass("addStudent");
      $('<div class="row"><div class="small-3 columns"><input type="text" placeholder="AnotherStudent" class="student_ids" name="student_ids"></div><div class="small-8 columns"><input type="text" placeholder="AnotherStudent" class="student_ids" name="student_ids" required pattern="number" disabled="disabled"><span class="form-error">กรอกด้วย</span></div><div class="small-1 columns"><button type="button" class="small button addStudent"><i class="fi-plus"></i></button></div></div>').insertAfter($(this).parent().parent());
      $(this).addClass("alert").addClass("removeStudent");
      $(this).children().removeClass("fi-plus");
      $(this).children().addClass("fi-minus");
    });

    $("#content").on('click', ".removeStudent", function(e) {
      e.stopPropagation();
      $(this).parent().parent().remove();
    });

    $("#rank").change(function () {
      if($("#rank").val() == 0) {
        $("#rank_des").prop("disabled", false);
      } else {
        $("#rank_des").prop("disabled", true);
        $("#rank_des").val("");
      }
    });

    $.getJSON("/jsonProfile", function (data) {
      $("#CurrentStudentId").attr("placeholder", data["username"]);
      $("#CurrentStudentName").attr("placeholder", data["th_name"]);
    });

    var students = [];
    $.ajax({
      url: "/jsonAll/1",
      async: false,
      dataType: 'json',
      success: function(data) {
        students = data;
      }
    });

    student_ids = $.map(students, function (value, index) {
      return index;
    });

    var student_autocomplete_option = {
      source: student_ids,
      change: function (event, ui) {
        $(this).parent().next().children().val(students[ui.item.value])
      }
    };
    $("input[name^='student_ids']").autocomplete(student_autocomplete_option);
    $(document).on('keydown.autocomplete', "input[name^='student_ids']", function () {
      $(this).autocomplete(student_autocomplete_option);
    });

    $.ajax({
      url: '/jsonAll/3',
      dataType: 'json',
      async: false,
      success: function (data) {
        $(".orgs").empty();
        $(".orgs").append($("<option>").text("เลือกหน่วยงาน").attr("value", ""));
        $.each(data, function(i, val) {
          $(".orgs").append($("<option>").text(val.text).attr("value", val.value));
        });
      }
    });

    function isInArray(value, array) {
      return array.indexOf(value) > -1;
    }

    @if(ach.isDefined) {
      $("select[name^='level']").val("@ach.get.comp.get.level");
      $("select[name^='category']").val("@ach.get.category");
      if(isInArray("@ach.get.comp.get.rank", ["รางวัลชนะเลิศ", "รางวัลรองชนะเลิศอันดับที่ 1"])) {
        $("select[name^='rank']").val("@ach.get.comp.get.rank");
      } else {
        $("select[name^='rank']").val("0");
        $("#rank_des").prop("disabled", false);
        $("input[name^='rank_des']").val("@ach.get.comp.get.rank");
      }
      var t_accs = [];
      @for(t <- ach.get.t_accs) {
        t_accs.push("@t.username");
      }
      var orgs = [];
      @for(o <- ach.get.orgs) {
        orgs.push("@o.id");
      }
      $.ajax({
        url: '/jsonAll/5',
        dataType: 'json',
        async: false,
        success: function (data) {
          $("#teachers").empty();
          $.each(data, function (i, val) {
            if(isInArray(val.value ,t_accs)) {
              $("#teachers").append($("<option selected='selected'>").text(val.text).attr("value", val.value));
            } else {
              $("#teachers").append($("<option>").text(val.text).attr("value", val.value));
            }
          });
        }
      });
      $.ajax({
        url: '/jsonAll/3',
        dataType: 'json',
        async: false,
        success: function (data) {
          $("#orgs").empty();
          $.each(data, function(i, val) {
            if (isInArray(val.value.toString(), orgs)) {
              $("#orgs").append($("<option selected='selected'>").text(val.text).attr("value", val.value));
            } else {
              $("#orgs").append($("<option>").text(val.text).attr("value", val.value));
            }
          });
        }
      });
    } else {
      $.ajax({
        url: '/jsonAll/5',
        dataType: 'json',
        async: false,
        success: function (data) {
          $("#teachers").empty();
          $.each(data, function (i, val) {
            $("#teachers").append($("<option>").text(val.text).attr("value", val.value));
          });
        }
      });
      $.ajax({
        url: '/jsonAll/3',
        dataType: 'json',
        async: false,
        success: function (data) {
          $("#orgs").empty();
          $.each(data, function(i, val) {
            $("#orgs").append($("<option>").text(val.text).attr("value", val.value));
          });
        }
      });
    }

    var select2_option = {
      allowClear: true,
      theme: "foundation",
      width: '100%',
      tags: true,
      tokenSeparators: [',', ' ']
    };

    $('.s2').select2(select2_option);
  </script>
}
