@(title: String)(implicit template: String => Html => Html)
@template(title) {
  <div class="row">
    <div class="small-11 small-centered columns">
      <h2>Add Achievement</h2>
      <div class="callout">
        <form action="/add/competition" method="post" enctype="multipart/form-data" data-abide novalidate>
          <div class="alert callout" data-abide-error style="display: none;">
            <p><i class="fi_alert"></i> There are some errors in your form.</p>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <label>รหัสนักศึกษา
                <input type="text" id="CurrentStudentId" placeholder="CurrentStudentId" class="student_ids" name="student_ids" disabled="disabled" />
              </label>
            </div>
            <div class="small-9 columns">
              <label>ชื่อ-สกุลนักศึกษา
                <input type="text" id="CurrentStudentName" placeholder="CurrentStudentName" class="student_names" name="student_names" id="" disabled="disabled">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <input type="text" placeholder="AnotherStudent" class="student_ids" name="student_ids" pattern="number">
              <span class="form-error">
                ตัวเลข
              </span>
            </div>
            <div class="small-8 columns">
              <input type="text" palceholder="AnotherStudentName" class="student_names" name="student_names" disabled="disabled">
            </div>
            <div class="small-1 columns">
              <button type="button" class="small button addStudent"><i class="fi-plus"></i></button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="small-11 columns">
              <label>ชื่ออาจารย์ที่ปรึกษา
                <input id="firstTeacher" type="text" name="teacher_names" data-abide-ignore>
              </label>
            </div>
            <div class="small-1 columns">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="small button addTeacher"><i class="fi-plus"></i></button>
              </label>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="small-8 columns">
              <label>ชื่อการแข่งขัน <i class="alert fi-asterisk"></i>
                <input name="event_name" type="text" placeholder="Event Name" required>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
            <div class="small-4 columns">
              <label>หมวดการแข่งขัน
                <input name="topic" type="text" placeholder="Event Topic" data-abide-ignore>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <label>ระดับ <i class="alert fi-asterisk"></i>
                <select name="level" required>
                  <option value=""></option>
                  <option value="ระดับชาติ">ระดับชาติ</option>
                  <option value="ระดับโลก">ระดับโลก</option>
                  <option value="ระดับจักรวาล">ระดับจักรวาล</option>
                </select>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
            <div class="small-6 columns">
              <label>ประเภท <i class="alert fi-asterisk"></i>
                <select name="category" required>
                  <option value=""></option>
                  <option value="วิชาการ">วิชาการ</option>
                  <option value="คุณธรรม">คุณธรรม</option>
                </select>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>หน่วยงานที่จัด <i class="alert fi-asterisk"></i>
                <select name="orgs" class="orgs" required>
                  <option value=""></option>
                </select>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-11 columns">
              <select name="orgs" class="orgs">
                <option value="">เพิ่มได้ด้วย</option>
              </select>
            </div>
            <div class="small-1 columns">
              <button type="button" class="small button addOrg"><i class="fi-plus"></i></button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="small-12 columns">
              <label>ชื่อผลงาน <i class="alert fi-asterisk"></i>
                <input type="text" name="achievement_name" required>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <label>อันดับ <i class="alert fi-asterisk"></i>
                <select name="rank" id="rank" required>
                  <option value=""></option>
                  <option value="รางวัลชนะเลิศ">รางวัลชนะเลิศ</option>
                  <option value="รางวัลรองชนะเลิศอันดับที่ 1">รางวัลรองชนะเลิศอันดับที่ 1</option>
                  <option value="0">อื่นๆ</option>
                </select>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
            <div class="small-8 columns">
              <label>&nbsp;
                <input type="text" placeholder="Rank Description" id="rank_des" name="rank_des" disabled="disabled">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>รางวัล
                <textarea name="reward" id="" cols="30" rows="3" placeholder="เช่น ทุนการศึกษา" data-abide-ignore></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <label>วันที่ได้รับ <i class="alert fi-asterisk"></i>
                <input type="date" name="date" required>
                <span class="form-error">
                  กรอกด้วย
                </span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label for="exampleFileUpload" class="button">Upload File</label>
              <input type="file" id="exampleFileUpload" class="show-for-sr" name="file" accept="image/*">
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns small-centered">
              <button id="submit" type="submit" class="small expanded button">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(".header").on("click", ".addStudent", function(e) {
      e.stopPropagation();
      $(this).removeClass("addStudent");
      $('<div class="row"><div class="small-3 columns"><input type="text" placeholder="AnotherStudent" class="student_ids" name="student_ids"></div><div class="small-8 columns"><input type="text" placeholder="AnotherStudent" class="student_ids" name="student_ids" required pattern="number" disabled="disabled"><span class="form-error">กรอกด้วย</span></div><div class="small-1 columns"><button type="button" class="small button addStudent"><i class="fi-plus"></i></button></div></div>').insertAfter($(this).parent().parent());
      $(this).addClass("alert").addClass("removeStudent");
      $(this).children().removeClass("fi-plus");
      $(this).children().addClass("fi-minus");
    });

    $(".header").on('click', ".removeStudent", function(e) {
      e.stopPropagation();
      $(this).parent().parent().remove();
    });

    $(".header").on('click', '.addOrg', function (e) {
      e.stopPropagation();
      $(this).removeClass("addOrg");
      $('<div class="row"><div class="small-11 columns"><select name="orgs" class="orgs"><option value="">เลือกหน่วยงาน</option></select></div><div class="small-1 columns"><button type="button" class="small button addOrg"><i class="fi-plus"></i></button></div></div>').insertAfter($(this).parent().parent());
      aaa = $(this).closest(".row").next().children().first().children();
      console.log(aaa)
      $.ajax({
        url: '/jsonAllOrg',
        dataType: 'json',
        success: function (data) {
          aaa.empty();
          aaa.append($("<option>").text("เลือกหน่วยงาน").attr("value", ""));
          $.each(data, function(i, val) {
            aaa.append($("<option>").text(val.text).attr("value", val.value));
          });
        }
      });
      $(this).addClass("alert").addClass("removeOrg");
      $(this).children().removeClass("fi-plus");
      $(this).children().addClass("fi-minus");
    });

    $(".header").on("click", ".removeOrg", function (e) {
      e.stopPropagation();
      $(this).parent().parent().remove();
    });

    $(".header").on('click', ".addTeacher", function (e) {
      e.stopPropagation();
      $(this).removeClass("addTeacher");
      $('<div class="row"><div class="small-11 columns"><input type="text" palceholder="AnotherTeacherName" name="teacher_names" data-abide-ignore></div><div class="small-1 columns"><button type="button" class="small button addTeacher"><i class="fi-plus"></i></button></div></div>').insertAfter($(this).closest(".row"));
      $(this).addClass("alert").addClass("removeTeacher");
      $(this).children().removeClass("fi-plus");
      $(this).children().addClass("fi-minus");
    });

    $(".header").on('click', ".removeTeacher", function (e) {
      e.stopPropagation();
      if($(this).parent("label").length) {
        $("#firstTeacher").val($(this).closest(".row").next().children().first().children().val());
        if($(".removeTeacher").length == 1) {
          $(this).removeClass("removeTeacher").removeClass("alert");
          $(this).addClass("addTeacher");
          $(this).children().removeClass("fi-minus");
          $(this).children().addClass("fi-plus");
        }
        $(this).closest(".row").next().remove();
      } else {
        $(this).closest(".row").remove();
      }
    });

    $("#rank").change(function () {
      if($("#rank").val() == 0) {
        $("#rank_des").prop("disabled", false);
      } else {
        $("#rank_des").prop("disabled", true);
        $("#rank_des").val("");
      }
    });

    $.getJSON("/jsonProfile", function (data) {
      $("#CurrentStudentId").attr("placeholder", data["username"]);
      $("#CurrentStudentName").attr("placeholder", data["th_name"]);
    });

    var students = [];
    $.ajax({
      url: "/jsonAllStudent",
      async: false,
      dataType: 'json',
      success: function(data) {
        students = data;
      }
    });

    student_ids = $.map(students, function (value, index) {
      return index;
    });

    var student_autocomplete_option = {
      source: student_ids,
      change: function (event, ui) {
        $(this).parent().next().children().val(students[ui.item.value])
      }
    };
    $("input[name^='student_ids']").autocomplete(student_autocomplete_option);
    $(document).on('keydown.autocomplete', "input[name^='student_ids']", function () {
      $(this).autocomplete(student_autocomplete_option);
    });

    var teachers = [];
    $.ajax({
      url: '/jsonAllTeacher',
      async: false,
      dataType: 'json',
      success: function (data) {
        teachers = data;
      }
    });
    var teacher_autocomplete_option = {
      source: teachers
    };
    $("input[name^='teacher_names']").autocomplete(teacher_autocomplete_option);
    $(document).on('keydown.autocomplete', "input[name^='teacher_names']", function () {
      $(this).autocomplete(teacher_autocomplete_option);
    });

    $.ajax({
      url: '/jsonAllOrg',
      dataType: 'json',
      success: function (data) {
        $(".orgs").empty();
        $(".orgs").append($("<option>").text("เลือกหน่วยงาน").attr("value", ""));
        $.each(data, function(i, val) {
          $(".orgs").append($("<option>").text(val.text).attr("value", val.value));
        });
      }
    });
  </script>
}
