@(title: String, achs: Seq[Achievement], accs: Seq[Seq[Student]], t_accs: Seq[Seq[Teacher]], orgs: Seq[Seq[Organization]])(implicit template: String => Html => Html)
@template(title) {
  @achs<br>
  @accs<br>
  @t_accs<br>
  @orgs<br>

  @for((ach, index) <- achs.zipWithIndex) {
    <div class="column">
      <a href="@controllers.routes.Show.achievement(ach.id)">
        <div class="callout">
          <h2>@ach.id: @ach.achievement_name</h2>
          <p>@ach.date</p>

          <ul>
            @for(acc <- accs(index)) {
              <li>@acc</li>
            }
          </ul>
          <ul>
            @for(t <- t_accs(index)) {
              <li>@t</li>
            }
          </ul>
          <ul>
            @for(o <- orgs(index)) {
              <li>@o</li>
            }
          </ul>
        </div>
      </a>
    </div>
  }
}
