@(title: String, acc: Seq[Account])(implicit template: String => Html => Html)
@template(title) {
  <div class="jumbotron">
    <div class="row">
      <div class="large-12 columns">
        <h1>ค้นหาผลงาน</h1>
      </div>
    </div>
  </div>
  <div id="content" class="row small-up-4">
    @for(a <- acc) {
      <div class="columns">
        <a href="/profile/@a.username.value">
          @if(a.role_id == 3) {
            @a.stu.get.th_name
          } else {
            @a.teacher.get.th_name
          }
        </a>
      </div>
    }
  </div>
}
